<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.arcada.prog.blindlabyrinth" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.Accelerometer"
            android:label="@string/title_activity_accelerometer" >
        </activity>
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.GameViewBlank"
            android:label="@string/title_activity_game_view_blank" >
        </activity>
        <activity
            android:name="fi.arcada.prog.blindlabyrinth.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
